svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 34.798')
  g(transform='translate(-629 -140)')
    g(transform='translate(629 140)')
      path.a(d='M200.216,114.86a9.662,9.662,0,1,0-9.662,9.661A9.662,9.662,0,0,0,200.216,114.86Z' transform='translate(-173.056 -105.198)')
      path.a(d='M200.223,127.327h-3.439a2.344,2.344,0,0,0-1.922,1l-2.4,3.442a2.345,2.345,0,0,1-3.862-.025l-2.3-3.391a2.342,2.342,0,0,0-1.939-1.028h-3.378A7.878,7.878,0,0,0,173.1,135.2v3.5a1.172,1.172,0,0,0,1.173,1.173h32.656A1.172,1.172,0,0,0,208.1,138.7v-3.5A7.877,7.877,0,0,0,200.223,127.327Z' transform='translate(-173.1 -105.074)')
