svg(xmlns='http://www.w3.org/2000/svg' width='35' height='29.955' viewBox='0 0 35 29.955')
  path(d='M33.25,16.642H1.75a1.666,1.666,0,1,1,0-3.328h31.5a1.666,1.666,0,1,1,0,3.328Zm0-13.312H1.75A1.708,1.708,0,0,1,0,1.665,1.708,1.708,0,0,1,1.75,0h31.5A1.71,1.71,0,0,1,35,1.665,1.71,1.71,0,0,1,33.25,3.33Zm-31.5,23.3h31.5a1.665,1.665,0,1,1,0,3.327H1.75a1.665,1.665,0,1,1,0-3.327Z')
